.card_container{
    margin-top: 25px;
}
.related_category{
    margin:0;
    padding:0;
}
ul.related_category li {
    list-style: none;
    width: 120px;
    background: #d7d7d7;
    height: 35px;
    float: left;
    text-align: center;
    line-height: 35px;
    margin-left: 5px;
    color: black;
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width:991px)
{
  .related_container{
    display:none !important;
}
}